.scroller {
  max-width: 100%;
}

.scroller[dir="rtl"] {
  direction: rtl;
}

.scroller[dir="ltr"] {
  direction: ltr;
}

.pause-on-hover:hover .animate-scroll {
  animation-play-state: paused;
}

.animate-scroll {
  animation: scroll var(--animation-duration) var(--animation-direction) linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50%));
  }
}

[dir="rtl"] .animate-scroll {
  animation-name: scroll-rtl;
}

@keyframes scroll-rtl {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(50%));
  }
}