.scroller {
  --animation-duration: 50s;
  --animation-direction: normal;
  overflow: hidden;
}

.animate-scroll {
  animation: scroll var(--animation-duration) linear infinite;
  animation-direction: var(--animation-direction);
  will-change: transform;
}

.pause-on-hover:hover .animate-scroll {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
