@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    /* Light Theme */
    --primary: #b06419;        
    --secondary: #a55d16;       
    --tertiary: #bc8d4f;

    --gradient-from: var(--color-primary);
    --gradient-via: var(--color-secondary);
    --gradient-to:   var(--color-tertiary);

    --background:  #f7f4ea;
    --surface: #fdfbf5;   
    --border: #dcc9a1; 

    --border-outlined: var(--text);

    --text: #5c2e06; 
    --text-secondary: #6c5538; 
    --text-muted: #8e6a3f;  
    --text-loop: #050505;

    --icon-card: #050505;

    --faq-title: #050505;
    --faq-icon: var(--faq-title);
    --faq-border:var(--faq-title);
    
    --button-primary-bg: #82480e;
    --button-primary-text: #ffffff;
    --button-primary-border: none;
    --button-primary-hover-bg: #9c7543; 
    --button-primary-hover-text: #ffffff;


    --button-secondary-bg: transparent;
    --button-secondary-text:#050505;
    --button-secondary-border: var(--border-outlined);
    --button-secondary-hover-bg: var(--secondary);
    --button-secondary-hover-text: var(--text-button);
    --button-secondary-hover-border: var(--secondary);
  }

  .dark {
    /* Dark Theme */
    --primary: #cfaa65;
    --secondary: #ffd079;
    --tertiary: #f9de93;

    --gradient-from: var(--color-primary);
    --gradient-via: var(--color-secondary);
    --gradient-to:   var(--color-tertiary);

    --background: #050505;
    --surface: #151515;
    --border: #C7A15C;

    --border-outlined: var(--border);

    --text: #fbfbfb;
    --text-secondary: #dbd8d8;
    --text-muted: #7a7a7a;
    --text-loop: #050505;

    --faq-title: #451901;
    --faq-icon: var(--faq-title);
    --faq-border:var(--faq-title);

    --button-primary-bg: linear-gradient(to right, var(--gradient-from), var(--gradient-via), var(--gradient-to));
    --button-primary-text: #050505;
    --button-primary-hover-bg: linear-gradient(to right, var(--gradient-from), var(--gradient-to));
    --button-primary-hover-text: #050505;

    --button-secondary-bg: transparent;
    --button-secondary-text: var(--text);
    --button-secondary-border: var(--border-outlined);
    --button-secondary-hover-bg: var(--secondary);
    --button-secondary-hover-text: #050505;
    --button-secondary-hover-border: var(--secondary);

  }
  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}

@layer components {
  .btn-primary-hero {
    @apply px-6 py-3 rounded-xl font-semibold transition-all duration-300 relative overflow-hidden;
    background: var(--button-primary-bg);
    color: var(--button-primary-text);
    border: var(--button-primary-border);
  }

  .btn-primary-hero:hover {
    background: var(--button-primary-hover-bg);
    color: var(--button-primary-hover-text);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }

  .btn-secondary-hero {
    @apply px-6 py-3 rounded-xl font-semibold transition-all duration-300;
    background: var(--button-secondary-bg);
    color: var(--button-secondary-text);
    border: 1px solid var(--button-secondary-border);
  }

  .btn-secondary-hero:hover {
    background: var(--button-secondary-hover-bg);
    color: var(--button-secondary-hover-text);
    border-color: var(--button-secondary-hover-border);
  }

  .btn-ghost {
    @apply px-6 py-3 rounded-2xl font-semibold transition-all duration-300;
    background-color: transparent;
    color: var(--text);
    border: 1px solid transparent;
  }

  .btn-ghost:hover {
    background-color: var(--surface);
    color: var(--text-button);
  }

  .text-loop {
    color: var(--text-loop);
  }

  .faq-icon {
    @apply w-5 h-5 sm:w-6 sm:h-6 md:w-7 md:h-7;
    color: var(--faq-title);
  }

  .faq-title {
    color: var(--faq-title);
  }

  .faq-border {
    border-color: var(--faq-title);
  }

  .icon-card {
    color: var(--icon-card);
  }
}


@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-border: var(--border);

  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-text-button: var(--text-button);

  --color-gradient-from: var(--gradient-from);
  --color-gradient-via:  var(--gradient-via);
  --color-gradient-to:   var(--gradient-to);

  --color-button-bg: var(--button-bg);
}

/* ::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
} */