@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    /* Light Theme */
    --primary: #e2c784;
    --secondary: #bda164;
    --tertiary: #967b48;
    --background: #faf7df;
    --surface: #fcf7e3;
    --border: #f0e0b1;
    --text: #4a381f;
    --text-secondary: #705830;
    --text-muted: #967b48;
  }

  .dark {
    /* Dark Theme */
    --primary: #e2c784;
    --secondary: #c8a952;
    --tertiary: #a88c3a;
    --background: #0E0E0E;
    --surface: #151515;
    --border: #2d2d2d;
    --text: #f0f0f0;
    --text-secondary: #c2c2c2;
    --text-muted: #7a7a7a;
  }
  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}

/* @theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
} */