@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    /* Light Theme */
    --primary: #b06419;
    --secondary: #a55d16;
    --tertiary: #ca9a5a;

    --gradient-from: var(--color-primary);
    --gradient-via: var(--color-secondary);
    --gradient-to: var(--color-tertiary);

    --background: #f7f4ea;
    --surface: #f7edce;
    --border: #dcc9a1;

    --border-outlined: var(--text);

    --text: #5c2e06;
    --text-secondary: #6c5538;
    --text-muted: #8e6a3f;
    --text-loop: #050505;

    --glass-bg: var(--color-surface);
    --glass-bg-hover:#f0e6c9 ;
    --glass-border: rgba(0, 0, 0, 0.08);

    --icon-card: #050505;

    --faq-title: #050505;
    --faq-icon: var(--faq-title);
    --faq-border: var(--faq-title);

    --button-primary-bg: #82480e;
    --button-primary-text: #ffffff;
    --button-primary-border: none;
    --button-primary-hover-bg: #9c7543;
    --button-primary-hover-text: #ffffff;

    --button-secondary-bg: transparent;
    --button-secondary-text: #050505;
    --button-secondary-border: var(--border-outlined);
    --button-secondary-hover-bg: var(--secondary);
    --button-secondary-hover-text: var(--text-button);
    --button-secondary-hover-border: var(--secondary);
    --button-bg: var(--button-primary-bg);
    --text-button: var(--button-primary-text);
  }

  .dark {
    /* Dark Theme */
    --primary: #cfaa65;
    --secondary: #FFD97F;
    --tertiary: #FFE6A0;

    --gradient-from: var(--color-primary);
    --gradient-via: var(--color-secondary);
    --gradient-to: var(--color-tertiary);

    --background: #050505;
    --surface: #151515;
    --border: #c7a15c;

    --border-outlined: var(--border);

    --text: #fbfbfb;
    --text-secondary: #dbd8d8;
    --text-muted: #7a7a7a;
    --text-loop: #050505;

    --glass-bg: rgba(255, 255, 255, 0.03); 
    --glass-bg-hover: rgba(255, 255, 255, 0.06);
    --glass-border: rgba(255, 255, 255, 0.1);


    --faq-title: #451901;
    --faq-icon: var(--faq-title);
    --faq-border: var(--faq-title);

    --button-primary-bg: linear-gradient(
      to right,
      var(--gradient-from),
      var(--gradient-via),
      var(--gradient-to)
    );
    --button-primary-text: #050505;
    --button-primary-hover-bg: linear-gradient(
      to right,
      var(--gradient-from),
      var(--gradient-to)
    );
    --button-primary-hover-text: #050505;

    --button-secondary-bg: transparent;
    --button-secondary-text: var(--text);
    --button-secondary-border: var(--border-outlined);
    --button-secondary-hover-bg: var(--secondary);
    --button-secondary-hover-text: #050505;
    --button-secondary-hover-border: var(--secondary);
    --button-bg: var(--button-primary-bg);
    --text-button: var(--button-primary-text);
  }
  * {
    border-color: var(--border);
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}

@layer components {
  .btn-primary-hero {
    @apply px-6 py-3 rounded-xl font-semibold transition-all duration-300 relative overflow-hidden;
    background: var(--button-primary-bg);
    color: var(--button-primary-text);
    border: var(--button-primary-border);
    cursor: pointer;
  }

  .btn-primary-hero:hover {
    background: var(--button-primary-hover-bg);
    color: var(--button-primary-hover-text);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .btn-secondary-hero {
    @apply px-6 py-3 rounded-xl font-semibold transition-all duration-300;
    background: var(--button-secondary-bg);
    color: var(--button-secondary-text);
    border: 1px solid var(--button-secondary-border);
    cursor: pointer;
  }

  .btn-secondary-hero:hover {
    background: var(--button-secondary-hover-bg);
    color: var(--button-secondary-hover-text);
    border-color: var(--button-secondary-hover-border);
  }

  .btn-ghost {
    @apply px-6 py-3 rounded-2xl font-semibold transition-all duration-300;
    background-color: transparent;
    color: var(--text);
    border: 1px solid transparent;
    cursor: pointer;
  }

  .btn-ghost:hover {
    background-color: var(--surface);
    color: var(--text-button);
  }

  .text-gradient-title {
    background-color: var(--color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .dark .text-gradient-title {
    background-color: var(--color-tertiary);
  }

  .card-bg {
    background-color: var(--color-tertiary);
  }

  .dark .card-bg {
    background-color: var(--color-primary);
  }

  .card-text {
    color: var(--color-text);
  }

  .dark .card-text {
    color: var(--text);
  }

  .button-gradient {
    background: var(--color-primary);
  }

  .dark .button-gradient {
    background: linear-gradient(
      to right,
      var(--gradient-from),
      var(--gradient-via),
      var(--gradient-to)
    );
  }

  .text-loop {
    color: var(--text-loop);
  }

  .faq-icon {
    @apply w-5 h-5 sm:w-6 sm:h-6 md:w-7 md:h-7;
    color: var(--faq-title);
  }

  .faq-title {
    color: var(--faq-title);
  }

  .faq-border {
    border-color: var(--faq-title);
  }

  .icon-card {
    color: var(--icon-card);
  }
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-border: var(--border);

  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-text-button: var(--text-button);

  --color-gradient-from: var(--gradient-from);
  --color-gradient-via: var(--gradient-via);
  --color-gradient-to: var(--gradient-to);

  --color-button-bg: var(--button-bg);
}

/* ::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
} */
